/* Estilos para el Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #5283EE;
  }
  
  .header-left a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .header-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Efecto hover para enlaces y botones */
  header a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el contenido principal */
  main {
    text-align: center;
    margin: 20px 0;
    background-color: #D2DCF3;
    padding: 20px;
  }
  
  /* Estilos para el título principal */
  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para el formulario */
  form {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select, input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón de confirmación */
  button[type="submit"] {
    background-color: #5283EE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #4169b3;
  }
  
  /* Estilos para la ventana emergente de confirmación */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content p {
    margin-bottom: 10px;
  }
  
  .btn-secundario {
    background-color: #f0f0f0;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-secundario:hover {
    background-color: #e0e0e0;
  }
  